@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  width: 90%;
  max-width: 75rem;
  margin: 0 auto;
}

header h1 {
  font-family: 'PT Serif', serif;
  font-size: 2.25rem;
  margin: 3rem 0 1.5rem 0;
}

.about__wrapper h2 {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}

.about__text {
  font-size: 0.875;
  margin-bottom: 2rem;
}

.our__team {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our__team--card {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 9rem;
  flex: 1 0 9rem;
  margin-bottom: 3rem;
}

.our__team--card:nth-child(odd) {
  margin-right: 2rem;
}

.our__team--card:nth-child(even) {
  -webkit-transform: translateY(3rem);
  -ms-transform: translateY(3rem);
  transform: translateY(3rem);
}

.member__name {
  margin-top: 0.6rem;
  font-size: 0.875rem;
  font-weight: 600;
}

.title {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  font-family: 'PT Serif', serif;
  font-size: 0.625rem;
  margin-left: 0.4rem;
}

.bottom__text {
  text-align: center;
  color: #a9a9a9;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
}

@media only screen and (min-width: 26rem) {
  .our__team--card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 10rem;
    flex: 1 0 10rem;
  }
}

@media only screen and (min-width: 37.5rem) {
  .our__team--card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 15rem;
    flex: 1 0 15rem;
  }
}

@media only screen and (min-width: 47rem) {
  .title {
    font-size: 0.9rem;
  }

  .our__team--card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 16rem;
    flex: 1 0 16rem;
  }
}

@media only screen and (min-width: 58rem) {
  .our__team--card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 19rem;
    flex: 1 0 19rem;
  }

  header h1 {
    margin-top: 0;
    font-size: 2.5rem;
  }

  .member__name {
    font-size: 1.2rem;
  }

  .title {
    font-size: 1rem;
  }

  .our__team--card:nth-child(odd) {
    margin-right: 0rem;
  }

  .our__team > * {
    margin: 1.8em 0 0 1.8em;
  }

  .our__team {
    margin: -1.8em 0 0 -1.8em;
    width: calc(100% + 1.8em);
  }

  .our__team--card:nth-child(5) {
    -webkit-transform: translateY(6rem);
    -ms-transform: translateY(6rem);
    transform: translateY(6rem);
  }

  .bottom__text {
    margin: 10em 0 2em 0;
  }

  .container header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 2.5em 0 3em 0;
  }

  .about__text {
    width: 25rem;
  }
}
